* {
    box-sizing: border-box;
}
body{
    margin: 30px auto;
    padding: 0;
}
main{
    position: relative;
    width: 900px;
    height: 8000px;
    background: blue;
    
}
.parent{
    border-radius: 50%;
    width: 200px;
    height: 200px;

}