
.space{
    height: 150px;
    width: 150px;
    background-color: #aaa;
    border: 3px solid #000000;
    font-size: 24px;
    color: rgb(0, 0, 0);
}
.space:active{
    background-color: #fff;
}

.box{
     border: 11px solid #fff;
    position: absolute;
    top: 300px;
    left: 500px;
    transform: translate(-50%, -50%);
    width: 500px;
    padding: 10px;
}
